#gameArea {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

#gameHeader {
    display: block;
    height: 80px;
}

#gameScreen {
    background-color: #2a7886;
    border: 6px solid rgba(27, 38, 44, 1); 
} 

#scoreboard {
    display: block;
    background-color: #2a7886;
    position: absolute;
    top: 0%;
    right: 0%;
    /* border: 3px solid rgba(27, 38, 44, 1); */
}

/* #game */
/* 
black = rgba(27, 38, 44, 1)
blue = rgba(15, 76, 129, 1)
orange = rgba(237, 102, 99, 1)
cool orange = rgba(255, 163, 114, 1)
*/